<header>
  <h1>Welcome to 30 Websites 30 Days hosting site</h1>
</header>

<main>
<ul>
  <li><a href="amzotti.github.com">Day 7: "What is it?" blog</a></li>
  <li><a href="http://amzotti-pixtr.herokuapp.com/">Day 6: Pixtr</a></li>
  <li>Day 5: 30 Websites 30 Days hosting site (current page)</li>
  <li><a href="portfoliosite/index.html">Day 4: PortfolioSite</a></li>
  <li><a href="toDoList/index.html">Day 3: toDoList</a></li>
  <li><a href="colorNotes/index.html">Day 2: colorNotes</a></li>
  <li><a href="yeOldeMuffinShoppe/index.html">Day 1: yeOldeMuffinShoppe</a></li>
</ul>
</main>

